@import "victory-docs/src/styles/styles.css";

/** FORMIDABLE CHARTS
*   WHERE EVERYTHING IS AN OVERRIDE
*/

/**
* COMPONENTS
* Discrete components of the page: such as navigation, alert dialogs, buttons, etc.
* Any new feature or component will be added to this section.
*
* sidebar:      add dark sidebar
*/
@import "./components/sidebar.css";

/**
* MANUAL OVERRIDES
*/

#content > div { /* Enable sticky footer */
  display: flex;
  flex-direction: column;
}

.Home {
  flex: 1 0 auto; /* Enable sticky footer */
  margin: 0 auto;
  padding: 0 var(--page) var(--gutter);
}

@media (--medium-viewport) {
  .medium-Grid--1of2 > .Grid-cell {
      flex: 0 0 50%;
  }
}

.u-textRight {
  text-align: right !important;
}
